.modalBackground {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  z-index: 60;
}

.modalOpen {
  opacity: 1;
  visibility: visible;
  transition:
    opacity var(--transition-fast),
    visibility var(--transition-fast);
}

.modalClosed {
  opacity: 0;
  visibility: hidden;
  transition:
    opacity var(--transition-fast),
    visibility var(--transition-fast);
}

.modalContent {
  background: var(--background);
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-lg);
  padding: var(--spacing-4);
  overflow: visible;
  width: 50%;
}

.modalContentTitle {
  width: 100%;
}

.modalContentCloseButton {
  padding: var(--spacing-1);
}

@media (min-width: 1280px) {
  .modalContent {
    width: 30%;
  }
}

@media (max-width: 768px) {
  .modalContent {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .modalContent {
    width: 90%;
  }
}
