/* MAIN CONTAINER */
.container {
  width: 100%;
  position: relative;
  user-select: none;
}

/* TRIGGER BUTTON */
.trigger {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: var(--spacing-2);
  padding-right: calc(var(--spacing-2) + var(--icon-size-md) + var(--spacing-1));
  gap: var(--spacing-2);

  border-style: solid;
  border-width: var(--border-width);
  border-color: var(--foreground-muted);
  border-radius: var(--border-radius-sm);

  font-family: inherit;
  font-size: var(--font-size-sm);

  background-color: var(--background);
  color: var(--foreground-muted);
  cursor: pointer;

  transition:
    border-color var(--transition-fast),
    color var(--transition-fast);
}

.trigger:focus,
.trigger:hover {
  border-color: var(--foreground);
}

.trigger:hover > span,
.trigger:focus > span {
  color: var(--foreground);
}

/* ICON */
.icon {
  color: var(--foreground-muted);
  width: var(--icon-size-sm);
  height: var(--icon-size-sm);

  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  right: var(--spacing-2);
  top: 50%;
  transform: translateY(-50%);

  background: none;
  border: none;

  padding: 0;
  margin: 0;

  z-index: var(--z-index-first);
}

.trigger:hover > .icon,
.trigger:focus > .icon {
  color: var(--foreground);
}

.trigger:disabled {
  cursor: not-allowed;
  border-color: var(--foreground-muted);
}

.trigger:disabled > span,
.trigger:disabled > .icon {
  color: var(--foreground-muted);
}

/* LIST CONTAINER */
.listContainer {
  position: absolute;

  left: 0;
  width: 100%;
  max-height: min(240px, 50vh);

  background-color: var(--background);
  border: 1px solid var(--foreground-muted);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-sm);

  overflow: hidden;

  z-index: var(--z-index-second);
}

.listContainer--below {
  margin-top: var(--spacing-1);
  top: 100%;
}

.listContainer--above {
  margin-bottom: var(--spacing-1);
  bottom: 100%;
}

/* LIST */
.list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;

  overflow-y: auto;

  scrollbar-width: thin;
  scrollbar-color: var(--foreground-muted) transparent;

  z-index: var(--z-index-first);
}

.list::-webkit-scrollbar {
  width: 8px;
}

.list::-webkit-scrollbar-thumb {
  background-color: var(--foreground-muted);
  border-radius: 9999px;
  transition: background-color 0.2s ease;
}

.list::-webkit-scrollbar-thumb:hover {
  background-color: var(--foreground-muted);
}

.list::-webkit-scrollbar-track {
  background: transparent;
}

.list::-webkit-scrollbar-button {
  display: none;
}

/* LIST ITEM */
.listItem:hover {
  background-color: var(--background-hover);
}

.listItem > button {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  cursor: pointer;

  padding: var(--spacing-2);
  margin: 0;
  background: none;
  border: none;
  color: inherit;
  font: inherit;

  font-family: inherit;
  font-size: var(--font-size-sm);
}

.listItem--selected,
.listItem--selected:hover {
  background-color: var(--background-muted);
}

/* SEARCH INPUT */
.searchInputContainer {
  width: 100%;
  border-bottom: 1px solid var(--foreground-muted);
}

.searchInputContainer:focus-within {
  border-bottom-color: var(--foreground);
}

input.searchInput {
  border: none;
  border-radius: 0;
  box-shadow: none;
}

input.searchInput:hover,
input.searchInput:focus {
  border: none;
}
