.container {
  width: 100%;
}

.accounts {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--spacing-3);
}

.account {
  justify-content: space-between;
  transition: all var(--transition-fast);
}

.account:hover {
  transform: scale(1.02);
}

.accountContent {
  flex-grow: 1;
  padding-right: var(--spacing-4);
}
