.badge {
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-sm);
  transition:
    box-shadow var(--transition-base),
    transform var(--transition-base);
}

.variant-default {
  background-color: var(--background);
  color: var(--foreground);
}

.variant-primary {
  background-color: var(--primary);
  color: var(--primary-foreground);
}

.variant-secondary {
  background-color: var(--secondary);
  color: var(--secondary-foreground);
}

.variant-success {
  background-color: var(--success);
  color: var(--primary-foreground);
}

.variant-error {
  background-color: var(--error);
  color: var(--primary-foreground);
}

.variant-warning {
  background-color: var(--warning);
  color: var(--primary-foreground);
}
