.container {
  position: relative;

  display: flex;
  flex-direction: column;

  background-color: var(--background);

  min-height: 100vh;
}

.header {
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: var(--spacing-4);
}

.header > ul {
  list-style: none;

  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  justify-content: center;
  align-items: center;

  transition: all var(--transition-fast);

  overflow: hidden;
}

.header > ul.scrolled {
  background-color: var(--primary);

  border-radius: var(--border-radius-sm);
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  padding: var(--spacing-2) var(--spacing-4);

  transition: all var(--transition-fast);
}

.link:not(.scrolled) {
  border-radius: var(--border-radius-sm);
}

.link.scrolled:hover {
  background-color: var(--primary-hover);
  color: var(--foreground-hover);
}

.link:not(.scrolled):hover {
  background-color: var(--foreground-hover);
  color: var(--background-hover);
}

.link.active {
  text-decoration: underline;
}

.link.active:not(.scrolled) {
  background-color: var(--foreground-hover);
  color: var(--background-hover);
}

.link.active.scrolled {
  background-color: var(--primary-hover);
  color: var(--foreground-hover);
}

.main {
  flex-grow: 1;

  padding-top: var(--spacing-16);
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  position: sticky;

  bottom: var(--spacing-4);
  padding-right: var(--spacing-4);
}

.footer > button {
  padding: var(--spacing-1);
}
