.container {
  background-color: var(--background);
  min-height: 100vh;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index-first);
}

.header > ul {
  list-style: none;

  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: stretch;

  transition: all var(--transition-fast);

  overflow: hidden;
}

.header > ul.scrolled {
  background-color: var(--primary);

  border-radius: var(--border-radius-sm);
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: var(--spacing-2);
  padding: var(--spacing-2) var(--spacing-4);

  transition: all var(--transition-fast);
}

.link:not(.scrolled) {
  border-radius: var(--border-radius-sm);
}

.link.scrolled {
  color: var(--primary-foreground);
}

.link.scrolled:hover {
  background-color: var(--primary-hover);
  color: var(--primary-foreground);
}

.link:not(.scrolled):hover {
  background-color: var(--primary-hover);
  color: var(--primary-foreground);
}

.link.active {
  text-decoration: underline;
}

.link.active:not(.scrolled) {
  background-color: var(--primary-hover);
  color: var(--primary-foreground);
}

.link.active.scrolled {
  background-color: var(--primary-hover);
  color: var(--primary-foreground);
}

.main {
  flex-grow: 1;
}

.footer {
  width: 100%;
  position: fixed;

  bottom: var(--spacing-4);
  padding-right: var(--spacing-4);
}

.footer > button {
  padding: var(--spacing-1);
}
