.paginator {
  width: 100%;
}

.paginator .paginator-button {
  padding: var(--spacing-1);
}

.paginator-button-disabled {
  cursor: default;
}

.paginator-button-disabled:hover {
  transform: scale(1);
}
